.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Logo{
  width: 190px;
  flex-grow: 0;
}

.App-logo {
  height: 100px;
  width: 100px;
}

.Animation-logo {
  animation: App-logo-move infinite 2s linear;
  height: 80px;
  width: 90px;
  margin-left: -30px;
}

@keyframes App-logo-move {
  0% { transform: rotate(-25deg); }
  50% { transform: rotate(25deg); }
  100% { transform: rotate(-25deg); }
}

.App-header {
  background-color: #222;
  padding: 5px;
  color: white;
  display: flex;
  flex-direction: row;
}

.Message{
  flex-grow: 1;
}

.App-title {
  font-size: 1.5em;
}