.Create{
    align-content: center;
    background: white;
}

.Parameter{
    margin: 5px;
}

.ParamContainer{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.ParamContainer label{
    display: inline-block;
    width: 80px;
    text-align: right;
}

.ParamContainer button{
    align-self: center;
}