.CharacterContainer{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
}

.Parameter{
    margin: 5px;
}

.ParamContainer{
    display: flex;
    flex-direction: column;
    align-self: center;

}

.ParamContainer label{
    display: inline-block;
    width: 80px;
    text-align: right;
}

.ParamContainer button{
    align-self: center;
}

.Pic{
    margin-top: 10px;
    width: 200px;
}

.SubmitButton{
    border: 0px;
    color: white;
    background: rgb(100, 100, 100);
    font-family: sans-serif;
    text-decoration: underline;
    height: 2em;
    line-height: 2em;
}