.Navigation{
    background: white;
    display: flex;
    flex-wrap: wrap;
}

.NavButton{
    color: white;
    background: rgb(100, 100, 100);
    flex-grow: 1;
    height: 2em;
    line-height: 2em;
}

.NavButton:hover{
    background: black;
}