.Waifu{
    align-items: center;
    margin: 0.2em;
    border: 1px solid green;
    flex-grow: 1;
}

.Waifu:hover{
    background: green;
}

.Pic{
    width: 200px;
}

.Attributes{
    font-size: 12px;
    color: blue;
}